<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Song</title>
</head>

<body>
  <h1>Add New Song</h1>
  <form method="post">
    <label for="title">Title</label><br>
    <input type="text" name="title"><br>
    <p style="font-size: small; color: brown;">*if the new music didnt have album you can skip</p>
    <label for="albumName">Album Name</label><br>
    <input type="text" name="albumName"><br>
    <input type="submit" value="Add Song">
  </form>
</body>

</html>