<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <p><h4><%= failMsg.pesan %></h4></p>
    <form action="/login" method="POST">
        username : <input type="text" name="username"><br>
        password : <input type="password" name="password"><br>
    <button type="submit">Login</button>
    </form>
</body>
</html>